@model RIO.Models.LoginModel

@{
    ViewBag.Title = "Entrar";
    ViewBag.PageId = "login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- Logo -->
<div class="login-logo">
    <img src="@Url.Content("~/Content/Images/rio-logo-white.png")" alt="" />
</div>
<!-- Formulário -->
@using (Html.BeginForm("Login", "AccountController", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form col-md-6" }))
{
    
    <div class="input-group">
        <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span> </span>
        @Html.TextBoxFor(m => m.UserName, new { @class="form-control form-email", placeholder="E-mail"})
    </div>
    
    <div class="input-group">
        <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span> </span>
        @Html.PasswordFor(m => m.Password, new { @class="form-control form-password", placeholder="Senha"})
    </div>
    
    <span class="pull-left">@Html.ActionLink("Cadastre-se", "Register")</span>
    <input type="submit" value="Entrar" class="btn btn-default pull-right" />
    
    <span class="clearfix"></span>
}