/*!
 *Site: RIO
 *Package: Rio Systens Adm
 *Author: Rafael Heringer | Daniel Pucciariello | Breno Braga | Daniel Melo
 *Version: 1.0
 *Using: .SASS + Compass
 */


//=========================
//Imports
//=========================
@import compass
@import ../Plugins/bootstrap

//=========================
//Genérico
//=========================
html
	height: 100%

.big-header
	background-size: cover
	position: relative
	width: 100%
	height: 150px
	color: white

	&:after
		+box-shadow(0px 0px 12px 15px white)
		content: " "
		position: absolute
		height: 0px
		width: 100%
		bottom: 1px
		display: block

	.container
		height: 100%
		position: relative

	h1
		+text-shadow(0px 0px 5px black)
		position: absolute
		bottom: 20px
		left: 20px

		small
			color: white

//=========================
//Página Login
//=========================
#page-login
	background: url('../Images/Backgrounds/login-photo.jpg') no-repeat center center
	background-size: cover

	#page-footer,
	#page-header
		display: none

	.login-logo
		width: 100%
		text-align: center
		margin: 4% 0 0 0

		img
			max-width: 294px
			width: 60%

	.login-form
		+box-shadow(0px 0px 5px rgba(0,0,0,0.7))
		+box-sizing(border-box)
		background: rgba(255, 255, 255, 0.8)
		margin: 40px auto 0 auto
		padding: 20px
		max-width: 370px
		float: none

		.input-group
			margin-bottom: 10px

//=========================
//Página Timesheet
//=========================
#page-timesheet
	.big-header
		background: url('../Images/Backgrounds/copacabana.jpg') no-repeat center center

	table
		thead
			th
				text-align: center

				small
					display: block

		.td-input-time
			text-align: center

			input
				display: inline-block
				width: 100%
				max-width: 60px
				text-align: center

		&.table-projects
			thead
				th
					text-align: left